
body {
    font-family: Menlo, monospace;
    color: #bbb;
    text-align: center;
}

.stopwatch {
    margin-top: 5vh;
    font-size: 20vw;
    height: 25vw;
}

.progress{
    margin-top: 5vh;    
}