* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Menlo, monospace;
    color: #bbb;
    text-align: center;
    margin-top: 20px;
}

.stopwatch {
    font-size: 20vw;
    height: 25vw;
    line-height: 20vh;
    margin-top: 5vw;
}

.results {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results li {
    border: 1px solid rgb(0, 102, 255);
    padding: 0.5em;
    margin: 0.5em 0;
}
